body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .mode-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    color: #333;
  }
  
  input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    margin-right: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #3393FF;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3393FF;
  }
  
  #result {
    font-weight: bold;
    margin-top: 20px;
  }
  
  #formula {
    margin-top: 10px;
    color: #777;
    font-style: italic;
  }
  
  /* Responsiveness */
  @media only screen and (max-width: 600px) {
    .input-container {
      flex-direction: column;
    }
    
    label {
      width: auto;
      margin-bottom: 5px;
    }
    
    input[type="number"] {
      width: 100%;
    }
  }
  